.main-div{
    width: fit-content;
    border-radius: 12px;
    border: 2px solid #e1e3e6;
    font-family: 'Roboto', sans-serif;
    margin: 5% 5% 5% 20%;
}
.box-modal{
    text-align: left;
    padding-left: 5%;
    padding-right: 5%;
}
.box-img{
    border-radius: 50%;
    padding: 3% 6%;
}
.box-title{
    font-weight: 11500;
    margin-bottom: 4px;
}
.box-desc{
    font-family: 'Roboto', sans-serif;
    color: #6a6e71;
    font-weight: 1500;
    font-size: small;
    margin-top: 2px;
}
.img-div{
    padding: 3% 3%;
    
}
.box-btn{

width: 100%;
text-align: left;
background-color: transparent;
border-top-color: #e1e3e6;
border-top-width: 1px;
border-bottom-width: 0px;
border-right-width: 0px;
border-left-width: 0px;
padding: 5% 5%;
}
a{
    font-family: sans-serif;
    text-decoration: none;
    color: #3982eb;
}